#include "mainMenu.h"

mainMenu MENU DISCARDABLE
BEGIN
	POPUP "&File"
		BEGIN
			MENUITEM "E&xit", ID_MAINMENU_FILE_EXIT
		END

	POPUP "S&creen Size"
		BEGIN
			MENUITEM "400 x 400", ID_MAINMENU_SCREENSIZE_400x400
			MENUITEM "640 x 480", ID_MAINMENU_SCREENSIZE_640x480
			MENUITEM "800 x 600", ID_MAINMENU_SCREENSIZE_800x600
		END

	POPUP "&Help"
		BEGIN
			MENUITEM "A&bout" ID_MAINMENU_HELP_ABOUT
			MENUITEM "&Version" ID_MAINMENU_HELP_VERSION
		END
END
